# Ignore environment variables and secrets
.env
.venv
docker-compose.override.yml
Commands.txt

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Node.js & Frontend dependencies
frontend/node_modules/
frontend/.next/
frontend/.parcel-cache/
frontend/dist/
frontend/build/
frontend/.eslintcache

# Docker build cache & local overrides
.dockerignore
.docker/

# Ignore local Docker images if you're building them locally
*.tar
*.img

# VS Code, JetBrains, and other IDE settings
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db